@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

button {
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    margin: 10px;
    padding: 5px 5px;
    border: 1px solid #333333;
}
